@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter/Inter-VariableFont.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

:root {
  --heading-color: #a7f3d0;
  --text-color: #1a1a1ad5;

  --aside-width: min(330px, 30vw);
}

body {
  font-family: 'Inter', sans-serif;

  display: grid;
  grid-template-columns: var(--aside-width) 3fr;
  grid-template-rows: 0.2fr 3fr 0.2fr;

  height: 100vh;
}

header {
  grid-column: 1 / 3;
  grid-row: 1 / 2;

  padding: 0.5rem 0 0 0;
  
  display: grid;
  grid-template-columns: var(--aside-width) 3fr;

  background-color: var(--heading-color);
}
header h1 {
  grid-column: 1 / 2;
  text-align: center;

  color: var(--text-color);

  font-size: min(3rem, 5vw);
}

aside {
  grid-column: 1 / 2;
  grid-row: 2 / 3;

  padding: 0.5rem 2rem 0 2rem;

  background-color: #f3f3f3;
  color: var(--text-color);
}
aside h2 {
  margin-bottom: 0.5rem;

  font-size: min(2.2rem, 3.8vw);

  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 2.5rem;
}

aside h2 span {
  display: flex;
  justify-content: center;
  align-items: center; 
}
aside h2 button {
  border: 0;
  background-color: inherit;
  color: var(--text-color);

  font-size: min(2.5rem, 3.8vw);

  transition-duration: 0.3s;
  
  height: 2rem;

  line-height: 1.5rem;
}
aside h2 button:hover {
  cursor: pointer;

  rotate: 90deg;
  scale: 1.2;
}

aside h2 button:focus {
  outline: none;
}

main {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

footer {
  grid-column: 1 / 3;
  grid-row: -2;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--heading-color);
}
footer p {
  color: var(--text-color);
}
footer a {
  text-decoration: none;
  color: #db02d0;
  font-weight: bold
}

#projects {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  overflow-y: auto;
  height: 75vh;
}

.project {
  border: 0;
  background-color: inherit;

  text-align: left;
  font-weight: 470;
  font-size: min(1.5rem, 3vw);

  width: max-content;

  transition-duration: 0.2s;

  color: var(--text-color)
}

.active-project {
  font-weight: 550;
  font-size: min(1.8rem, 4vw);

  border-bottom: 1px solid var(--text-color);
}

.project:hover {
  font-weight: 550;
  font-size: min(1.8rem, 4vw);

  cursor: pointer;
}

#list {
  padding: 1rem 2rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  height: 87vh;
  overflow-y: auto;
}
.todo {
  display: flex;
  gap: min(10rem, 10vw);
 
  width: 85%;
  align-items: flex-start;

  font-size: min(1.7rem, 3.5vw);

  

  border: 1px solid var(--text-color);
  border-radius: 10px;

  transition-duration: 0.2s;

  color: var(--text-color)
}

.todo:hover {
  box-shadow: 5px 2px 10px #505050;

  transform: scale(1.02);
}
.todo details {
  width: 100%;

  padding: 0.5rem;
}
.todo summary:hover {
  cursor: pointer;
}

.todo summary {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1.2fr 1fr 0.2fr;
  align-items: center;
}

.done-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.done-container input {
  height: 1.5rem;
  width: 1.5rem;
}
.done-container input:hover {
  cursor: pointer;
}

.delete-todo {
  border: 0;
  background-color: inherit;

  color: #ff7373;
  font-size: min(2rem, 4vw);

  font-weight: 600;
}

.delete-todo:hover {
  cursor: pointer;
}

dialog {
  border: 0;
  border-radius: 10px;

  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

dialog::backdrop {
  background-color: rgba(112, 112, 112, 0.5);

  backdrop-filter: blur(5px);
}

dialog form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

dialog label {
  font-weight: 600;
  font-size: min(1.5rem, 3vw);
}

dialog input {
  border: 0;
  border-radius: 10px;
  padding: 0.5rem 1rem;

  transition-duration: 0.2s;
}

dialog .buttons {
  display: flex;
  justify-content: end;
  gap: 1rem;
}

dialog button {
  border: 0;
  border-radius: 10px;

  padding: 0.5rem 1rem;

  font-weight: 600;

  transition-duration: 0.2s;
}

dialog button:hover {
  cursor: pointer;

  scale: 1.1;
}